*.iml
.gradle
app/gradlew
app/gradlew.bat
app/.idea/*
app/gradle/*
app/local.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle/wrapper/gradle-wrapper.properties
